<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parakh.user_grievance">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_temp"
        android:label="BIRTS Grievance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
        <!-- <service -->
        <!-- android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" -->
        <!-- android:enabled="true" /> -->
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:label="BIRTS Grievance"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".Verification" />
        <activity android:name=".Form" />
        <activity android:name=".SignUp" />
        <activity android:name=".Track" />
        <activity android:name=".EditComplaint" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".HomePage"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.parakh.user_grievance.HomePage" />
        </activity>
    </application>

</manifest>